<%= form_for(@profile) do |f| %>
  <div class="input-container">
    <p class="label"><%= f.label :first_name %></p>
    <%= f.text_field :first_name %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :last_name %></p>
    <%= f.text_field :last_name  %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :birthday %></p>
    <%= f.date_select :birthday,
        {:start_year => Time.now.year,
          :end_year => Time.now.year - 115,
          :order => [:month, :day, :year],
          :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}}
    %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :twitter %></p>
    <%= f.text_field :twitter %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :job_title %></p>
    <%= f.text_field :job_title %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :bio %></p>
    <%= f.text_field :bio %>
  </div>
  <div class="input-container">
    <p class="label"><%= f.label :party_affiliation %></p>
    <%= f.select :party_affiliation, options_for_select(['Democrat', 'Independent', 'Republican', 'Tea Party', 'Yes, I like to Party']), :prompt => "Pick your poison" %>
  </div>
  <div id="button">
    <%= submit_tag 'Save', :class => 'btn-med-blue lg-text' %>
  </div>
<% end %>