<div id="page">
  <div id="info" class="profile problem-show">
    <%= render partial: "profile_info" %>

    <% if current_user_profile?(@profile) && current_user.has_address? %>
      <%= render partial: "profile_congresspeople" %>
    <% end %>
  </div>

  <% if current_user_profile?(@profile) && current_user.has_notifications? %>
    <div id="notifications" class="profile">
      <h4>Notifications<% if current_user.has_unread_notifications? %>: <span class="unread"><%= current_user.unread_notifications.count %> unread</span><% end %></h4>
      <%= render partial: "notifications/notification", collection: current_user.notifications.reverse %>
    </div>
  <% end %>

  <% unless @profile.problems.empty? %>
    <%= render partial: "profile_problems" %>
  <% end %>

  <% unless @profile.solutions.empty? %>
    <%= render partial: "profile_solutions" %>
  <% end %>
</div>