<div id="page">
  <div id="info" class="profile">
    <%= render partial: "profile_info" %>
  </div>

  <% if current_user_profile?(@profile) && current_user.has_notifications? %>
    <div id="notifications" class="profile">
      <h4>Notifications</h4>
      <%= render partial: "notifications/notification", collection: current_user.notifications %>
    </div>
  <% end %>

  <% if current_user_profile?(@profile) && current_user.has_address? %>
    <%= render partial: "profile_congresspeople" %>
  <% end %>

  <% if current_user_profile?(@profile) %>
    <div id="votes" class="profile">
      <h4>Votes</h4>
      <p>Up votes: <%= @profile.user.up_votes %></p>
      <p>Down votes: <%= @profile.user.down_votes %></p>
    </div>
  <% end %>

  <% unless @profile.problems.empty? %>
    <%= render partial: "profile_problems" %>
  <% end %>

  <% unless @profile.solutions.empty? %>
    <%= render partial: "profile_solutions" %>
  <% end %>
</div>