<div id="page">
  <div class="index-head">
    <h3 class="issue-name"><%= @issue.name %></h3>
    <% if logged_in? %>
      <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'nice-button lg-text' %>
    <% end %>
  </div>

  <div id="tabs" class="clearfix">
    <ul class="filter">
      <li>
        <%= link_to "All Solutions", problems_path, :class => "pill-light" %>
      </li>
      <% Issue.with_problems.each do |issue| %>
      <li class="<%= "active" if current_issue?(issue) %>">
        <%= link_to issue_path(issue), :class => "pill-light" do %>
          <i class="icon-<%= issue.icon_class_name %>"></i>
          <%= issue.name %>
        <% end %>
      </li>
      <% end %>
  </div>

  <% unless @issue.problems.empty? %>
    <div class="problem">
      <%= render :partial => "problems/problem", :collection => @issue.problems %>
    </div>
  <% end %>
</div>