<%= form_for(@problem) do |f| %>
  <%= f.hidden_field :published_at, :value => Time.now %>
  <% if @problem.errors.any? %>
  <div id="errorExplanation">
    <p>Halt! Just so you know, you have to fix these <%= pluralize(@problem.errors.count, "error") %> before you can ask a question:</p>
    <ul>
    <% @problem.errors.full_messages.each do |msg| %>
      <li>-&nbsp;<%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="input-container">
    <%= f.text_field :body, :placeholder => "What's your problem?" %>
  </div>
  <%= f.fields_for :solution do |f| %>  
    <%= f.hidden_field :published_at, :value => Time.now %>
  <div class="input-container">
    <%= f.text_field :body, :placeholder => "What solution do you propose?" %>
  </div>
  <% end %>
  <div id="button">
  <%= f.submit 'Add', :class => 'button' %>
  </div>
<% end %>