<%= form_for(@problem, :validate => true) do |f| %>

  <%= f.hidden_field :published_at, :value => Time.now %>

  <%= render partial: "problem_form", locals: { f: f } %>

  <%= render partial: "problems/solution_form", locals: { f: f } %>

  <%= render partial: "problems/issue_tweet_form", locals: { f: f } %>

  <div id="button">
    <%= f.submit 'Add', :class => 'btn btn-large btn-gop-red' %>
  </div>

<% end %>