<div class="other-problem clearfix">
  <div class="overview">
    <div class="votes">
      <h4 class="vote-count"><%= problem.votes %></h4>
      <span><%= votes_text(problem.votes) %></span>
    </div>
    <div class="solutions">
      <h4 class="solution-count"><%= problem.solutions.count %></h4>
      <span><%= solutions_text(problem.solutions.count) %></span>
    </div>
  </div>
  <div class="details">
    <h4><%= link_to truncate(problem.body, length: 95 ), problem_path(problem) %></h4>
    <% if problem.issue.present? %>
      <p><%= link_to problem.issue.name, issue_path(problem.issue) %></p>
    <% end %>
  </div>
</div>
