<div class="vote big">
  <%= upvote_problem(@problem, "up-large.png") %>
  <h1><%= @problem.votes %></h1>
  <%= downvote_problem(@problem, "down-large.png") %>
</div>

<div id="problem_details">
  <h3><%= @problem.body %></h3>
</div>

<div id="problem_original_solution">

  <h4><%= @problem.original_solution.body if @problem.original_solution.present? %></h4>

  <p>- by <%= link_to @problem.user.profile.name, @problem.user.profile %>
    <% if @problem.user.profile.bio? %>
     , <%= @problem.user.profile.bio %>
    <% end %>
  </p>

  <%= link_to "#{@problem.issue.name}", issue_path(@problem.issue) if @problem.issue.present? %>

  <% if current_user_problem?(@problem) %>
    | <%= link_to "edit", edit_problem_path(@problem) %>
  <% end %>

</div>