<div id="tweet_container" class="pull-right">
  <label class="checkbox">
    <%= check_box_tag "tweet", true %>
    <%= image_tag("twitter-logo.png") %><p>Tweet your Solution</p>
  </label>
  <div id="candidates">
    <label class="checkbox">
      <%= check_box_tag "tweet_pres", "BarackObama" %>
      <p>cc @BarackObama</p>
    </label>
    <% current_user.politicians.each do |pol| %>
      <label class="checkbox">
        <%= check_box_tag "tweet_pol", "#{pol.twitter}" %>
        <p>cc @<%= pol.twitter %></p>
      </label>
    <% end %>
  </div>
</div>