<div class="index-head">
  <h1>What people are solving</h1>
  <% if logged_in? %>
    <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'btn-dark-blue lg-text' %>
  <% end %>
</div>
<div class="filter">
  <% Issue.with_problems.each do |issue| %>
    <%= link_to issue.name, issue_path(issue), :class => "pill-light" %>
  <% end %>
</div>
<div id="page" class="problems span10">
<% unless @problems.empty? %>
  <div class="problem">
    <%= render @problems %>
    <%= paginate @problems %>
  </div>
<% end %>
</div>
<div id="notice" class="widget span2">
  <h4>Widgets for all</h4>
  <p>
    Embed a widget for your Representative, Senator, Governor, or Mayor. If we don't have your politician listed, you can create one.
  </p>
  <%= link_to "Create a widget", new_widget_path, class: "btn-small btn-white" %>
</div>