<div class="index-head">
  <h3>What people are solving</h3>
  <% if logged_in? %>
    <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'nice-button lg-text' %>
  <% end %>
</div>
<div id="tabs" class="clearfix">
  <ul class="filter">
    <li class="active">
      <%= link_to "All Solutions", problems_path, :class => "pill-light" %>
    </li>
    <% Issue.with_problems.each do |issue| %>
      <li>
        <%= link_to issue_path(issue), :class => "pill-light" do %>
          <i class="icon-<%= issue.icon_class_name %>"></i>
          <%= issue.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div id="page" class="problems span10">
<% unless @problems.empty? %>
  <div class="problem">
    <%= render @problems %>
    <%= paginate @problems %>
  </div>
<% end %>
</div>
<div id="notice" class="widget span2">
  <h4>Widgets for all</h4>
  <p>
    Embed a widget for your Representative, Senator, Governor, or Mayor. If we don't have your politician listed, you can create one.
  </p>
  <%= link_to "Create a widget", new_widget_path, class: "btn-small btn-white" %>
</div>