<%= content_for(:head) do %>
	<%= javascript_include_tag "chosen.jquery.min", "charCount.js" %>
	<%= stylesheet_link_tag "chosen.css" %>
	<script type="text/javascript">
		$(function(){
    	$(".chzn-select").chosen({ disable_search_threshold : 25 });

      $("#problem_body").charCount({
        allowed: 250,
        warning: 20,
        counterText:' characters remaining'
      });
      $("#problem_solution_body").charCount({
        allowed: 250,
        warning: 20,
        counterText:' characters remaining'
      });

      var charCounter = $('span.counter');
      charCounter.toggle();

      $('textarea#problem_body, textarea#problem_solution_body').focus(function(){
        $(this).next().toggle();
      });

      $('textarea#problem_body, textarea#problem_solution_body').focusout(function(){
        $(this).next().toggle();
      });

    });
  </script>
<% end %>
<div class="row">
  <div class="span6 offset3 center new-problem">
    <div id="form_header">
      <h1 class="old">What ails you, <%= current_user.first_name %>?</h1>
      <p id="problem_disclaimer">* Every problem must come with a solution.</p>
    </div>
    <div class="new-problem-container">
    <%= render :partial => 'problems/form' %>
    </div>
  </div><!-- end content -->
</div><!-- end wrapper -->