<%= content_for(:head) do %>
	<%= javascript_include_tag "chosen.jquery.min", "charCount.js", "problems" %>
	<%= stylesheet_link_tag "chosen.css" %>
<% end %>
<div class="row">
  <div class="col-md-6 offset3 center new-problem">
    <div id="form_header">
      <h1 class="old">What ails you, <%= current_user.first_name %>?</h1>
      <p id="disclaimer">* You must propose a solution.</p>
    </div>
    <div class="new-problem-container">
    <%= render :partial => 'problems/form' %>
    </div>
  </div><!-- end content -->
</div><!-- end wrapper -->