<%= content_for(:head) do %>
  <%= javascript_include_tag "charCount.js" %>
  <script type="text/javascript">
    $(function(){
      var real_height= $('.problem-show').height();
      $('.problem-show .vote').height(real_height);
      $("#solution_body").charCount({
        allowed: 250,
        warning: 20,
        counterText: " characters remaining"
      });
      $('.comment-form').toggle();
      $('.add-comment').click(function(){
        $('#comment_body').removeData("changed");
        $('#comment_body').removeData("valid");
        $('#comment_body').trigger('element:validate:pass')
        $(this).next().toggle();
      });
      $('.remaining-comments').toggle();
      $('.all-comments').click(function(){
        $(this).hide();
        $(this).next().toggle();
      });
    });
  </script>
<% end %>
<div id="page">
  <div class="problem-show row">
    <%= render partial: "problem_with_votes" %>
  </div>

  <div id="problem_solutions" class="row">

    <% if @problem.solutions.present? %>
      <h2><%= pluralize(@problem.solutions.count, "Solution", "Solutions") %></h2>
      <% @problem.solutions.each do |solution| %>
        <%= render partial: "solutions/problem_solution", locals: {:solution => solution} %>
      <% end %>
    <% end %>

    <div id="new_solution_form">
      <h2>Add a Solution</h2>
      <%= render partial: "solutions/form" %>
    </div>
  </div>

</div>