<%= render partial: "shared/errors" %>

<div class="problem-show row">
  <%= render partial: "problem_with_votes" %>
</div>
<div id="problem_solutions" class="row">
  <h3>Solutions (<%= @problem.solutions.count %>)</h3>
  <%= link_to "Add a solution", new_solution_path(:problem_id => @problem.id), :class => "btn-light-blue lg-text" %>
  <% @problem.solutions.each do |solution| %>
    <%= render partial: "solutions/problem_solution", locals: {:solution => solution} %>
  <% end %>
</div>