<%= content_for(:head) do %>
  <script type="text/javascript">
    $(function(){
      $('#new_solution_form').toggle();
      $('#toggle_solution_form').click(function(){
        $('#new_solution_form').toggle();
      });
    })
  </script>
<% end %>

<div class="problem-show row">
  <%= render partial: "problem_with_votes" %>
  <%= @problem.original_solution.body if @problem.original_solution.present? %>
</div>

<% unless @problem.other_solutions.empty? %>
  <div id="problem_solutions" class="row">
    <h3>Solutions (<%= @problem.other_solutions.count %>)</h3>
    <%= link_to "Add a solution", "#", :id => "toggle_solution_form", :class => "btn-light-blue lg-text" %>
    <% @problem.other_solutions.each do |solution| %>
      <%= render partial: "solutions/problem_solution", locals: {:solution => solution} %>
    <% end %>
    <div id="new_solution_form">
      <%= render partial: "solutions/form" %>
    </div>
  </div>
<% end %>