<%= content_for(:head) do %>
  <%= javascript_include_tag "charCount.js" %>
  <script type="text/javascript">
    $(function(){
      var real_height= $('.problem-show').height();
      $('.problem-show .vote').height(real_height);
      $('#new_solution_form').toggle();
      $('#toggle_solution_form').click(function(){
        $('#new_solution_form').toggle();
        $('.counter').toggle();
      });
      $("#solution_body").charCount({
        allowed: 250,
        warning: 20,
        counterText: " characters remaining"
      });
      $('.comment-form').toggle();
      $('.add-comment').click(function(){
        $('#comment_body').removeData("changed");
        $('#comment_body').removeData("valid");
        $('#comment_body').trigger('element:validate:pass')
        $(this).next().toggle();
      });
    });
  </script>
<% end %>
<div id="problem">
  <div class="problem-show row">
    <%= render partial: "problem_with_votes" %>
  </div>

  <div id="problem_solutions" class="row">
    <% if @problem.other_solutions.empty? %>
      <%= link_to "Add Solution", "#", :id => "toggle_solution_form", :class => "btn-light-blue lg-text" %>
    <% else %>
      <h2>Solutions</h2>
      <% @problem.other_solutions.each do |solution| %>
        <%= render partial: "solutions/problem_solution", locals: {:solution => solution} %>
      <% end %>
      <%= link_to "Add Solution", "#", :id => "toggle_solution_form", :class => "btn-light-blue lg-text" %>
    <% end %>
    <div id="new_solution_form">
      <%= render partial: "solutions/form" %>
    </div>
  </div>
</div>