<%= content_for(:head) do %>
  <%= javascript_include_tag "rails.validations.custom" %>
<% end %>

<%= form_for(@user, :html => {:multipart => true}, :validate => true) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorRight">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.fields_for :profile do |profile| %>
  <div class="input-container">
    <%= profile.text_field :name, :placeholder => "Enter your name or a username" %>
  </div>
  <% end %>
  <div class="input-container">
    <%= f.text_field :email, :placeholder => "Enter your email" %>
  </div>
  <div class="input-container">
    <%= f.password_field :password, :placeholder => "Choose a password" %>
  </div>
  <%= f.fields_for :profile do |profile| %>
  <div class="input-container">
    <%= profile.text_field :bio, :placeholder => "Enter a short bio, if you'd like" %>
  </div>
  <div class="input-container">
    <p>What's your Birthday?</p>
    <%= profile.date_select :birthday,
      { :start_year => Time.now.year,
        :end_year => Time.now.year - 115,
        :order => [:month, :day, :year],
        :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'} }
    %>
  </div>
  <div class="input-container select">
    <p>What's your Party affiliation?</p>
    <%= profile.select :party_affiliation, options_for_select(['Democrat', 'Independent', 'Republican', 'Tea Party', 'Yes, I like to Party']), :prompt => "Pick your poison" %>
  </div>
  <% end %>
  <div id ="button">
    <%= submit_tag 'JOIN', :class => 'btn-med-blue-shiny home-join' %>
  </div>
<% end %>