<% div_for @user do %>
  <div id="wrapper">
  <div id="content">
    <div id="settings">
      <div id="left">
        <div class="headerContainer">
          <h2>Serious Settings</h2>
        </div>
        <div class="settingLeftContainer">
          <div class="settingHeader">
            <ul>
              <li>Privacy Settings</li>
            </ul>
          </div>
          <div class="infoBlock">
            <p class="setting">Everyone from the following networks can find me:</p>
            <ul class="settings">
              <li><input type=checkbox>&nbsp;<%= @user.profile.hometown %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.current_location %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.high_school %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.higher_ed %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.employer %></li>
            </ul>
            <p class="setting">Let everyone see the following:</p>
            <ul class="settings">
              <li><input type=checkbox>&nbsp;My Email (<%= current_user.email %>)</li>
              <li><input type=checkbox>&nbsp;My Birthday (<%= current_user.profile.birthday %>)</li>
              <li><input type=checkbox>&nbsp;My Grades/Test scores (if applicable)</li>
            </ul>
            <p class="setting"><input type=checkbox>&nbsp;Let schools and companies know I've identified them as a goal.</p>
          </div><!-- end setting-list -->
        </div><!-- end infoBlock -->
        <div class="settingLeftContainer">
          <div class="settingHeader">
            <ul>
              <li>Question Settings</li>
            </ul>
          </div>
          <div class="infoBlock">
            <p class="setting">I will give advice to users from the following networks:</p>
            <ul class="settings">
              <li><input type=checkbox>&nbsp;<%= @user.profile.hometown %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.current_location %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.high_school %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.higher_ed %></li>
              <li><input type=checkbox>&nbsp;<%= @user.profile.employer %></li>
            </ul>
            <p class="setting">I can answer&nbsp;<input id="frequency" name="question_frequency" type="number" size=5 min=0.0>&nbsp;questions per week.</p>
            <p class="setting"><input type=checkbox>&nbsp;Allow users older than me to ask me questions</p>
            <p class="setting"><input type=checkbox>&nbsp;Allow users younger than me to ask me question.</p>
          </div><!-- end infoBlock -->
          </div><!-- end settingLeftContainer -->
      </div><!-- end left -->
      <div id="right">
        <div class="headerContainer">
          <h2>Fun Settings</h2>
        </div>
                <div class="settingRightContainer">
          <div class="settingHeader">
            <ul>
              <li>Account Info</li>
            </ul>
          </div>
          <div class="infoBlock">
            <div class="userSnapshot">
              <div class="smFrame">
                <div class="smUserPhoto">
                  <img src="/../images/smuserpic.png" class="wall" alt="username's Photo">
                </div>
              </div>
            </div>
            <div id="mainSettingsInfo">
              <div id="settingsHeader">
                <h3><%= "#{current_user.profile.first_name} #{current_user.profile.last_name}" %></h3>
              </div>
              <div id="settingsInfo">
                <p class="maininfo">Member Since: <%= current_user.created_at.strftime("%d/%m/%Y") %></p>
                <p class="maininfo">Email:&nbsp;<%= current_user.email %></p>
              </div>
              <div id="settingsDelete">
                <p class="delete"><%= link_to 'Delete Account' %></p>
              </div>
            </div>
          </div>
          </div><!-- end settingRightContainer -->
          <div class="settingRightContainer">
            <div class="settingHeader">
              <ul>
                <li>Network Info</li>
              </ul>
            </div>
            <div class="infoBlock">
              <li class="setting">Location:</li>
              <li class="settingEdit"><%= link_to 'Edit' %></li>
              <ul class="accountSettings">
                <li><%= current_user.profile.hometown %></li>
                <li><%= current_user.profile.current_location %></li>
              </ul>
            </div>
            <div class="infoBlock">
              <li class="setting">Careers:</li>
              <li class="settingEdit"><%= link_to 'Edit' %></li>
              <ul class="accountSettings">
                <li><%= current_user.profile.employer%></li>
                <li><%= current_user.profile.job_title %></li>
              </ul>
            </div>
            <div class="infoBlock">
              <li class="setting">Schools:</li>
              <li class="settingEdit"><a href="#">Edit</a></li>
              <ul class="accountSettings">
                <li><%= current_user.profile.high_school %></li>
                <li><%= current_user.profile.higher_ed %></li>
              </ul>
            </div>
          </div>
      </div><!-- end settingRightContainer -->
    </div><!-- end right -->
  </div><!-- end content -->
</div><!-- end wrapper -->
<% end %>