<%= content_for(:head) do %>
  <%= javascript_include_tag "chosen.jquery.min" %>
  <%= stylesheet_link_tag "chosen.css" %>
  <script type="text/javascript">
    $(function(){
      $(".chzn-select").chosen()
    })
  </script>
<% end %>
<div id="page" class="row">
  <div id="widget" class="col-md-6 offset3">
    <div class="info-container">
      <h3>Get a widget for your Politican below:</h3>
      <p>Choose from US Representatives, US Senators, Governors, and Mayors.</p>
      <p>If you don't see your Politician in the list below, <%= link_to "click here to add them", new_politician_path %>.</p>
    </div>
    <%= form_for @widget do |f| %>
      <p>
        <%= f.label "Choose a Politician" %>
        <%= f.select :politician_id, Politician.active.sort_by{|p|p.first_name}.map{|p| [p.name,p.id]}, {:include_blank => ""}, { :class=>'chzn-select' } %>
      </p>
      <div>
          <%= f.submit "Get Widget", class: "btn-large btn-dark-blue" %>
      </div>
    <% end %>
  </div>
</div>