<%= content_for(:head) do %>
  <%= javascript_include_tag "jquery.zclip.min" %>
  <%= widget_id_meta(@widget) %>
<% end %>
<div id="page" class="row">
  <div id="widget" class="span10 offset1">
    <div class="info-container">
      <h3>Below is a widget for <%= @widget.politician.title %> <%= @widget.politician.name %></h3>
      <p><%= link_to "Copy and paste", "#", id: "widget-src", class: "btn-small btn-light-blue" %> the code below into your website's HTML to embed the widget on your page.</p>
      <p>Doing so will allow you to directly submit your ideas and solutions for <%= @widget.politician.short_title %>. <%= @widget.politician.last_name %>.</p>
    </div>
    <div class="info-container problem-show">
      <pre id="embed_code"><%= @widget.embed_code %></pre>
    </div>
    <div class="info-container">
      <h4>Widget preview:</h4>
      <%= render partial: "templates/widget", locals: {widget: @widget}  %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#widget-src').zclip({
    path:'http://zeroclipboard.googlecode.com/svn-history/r10/trunk/ZeroClipboard.swf',
    copy:$('#embed_code').text()
  });
</script>