<%= content_for(:head) do %>
  <%= javascript_include_tag "chosen.jquery.min", "charCount.js", "problems" %>
  <script type="text/javascript">
    $(function(){
      $('.navbar-brand, .join').click(function(){
        window.open('http://oursolution.is/signup', 'oursolution.is', '');
        window.close();
        return false;
      });
    });
  </script>
<% end %>
<div class="row">
  <div class="col-md-12 offset3">
    <div id="login" class="col-md-5 center">

    <%= form_tag session_path, :class => "clearfix" do %>

      <div id="form_header" class="clearfix">
        <h1 id="login">Welcome Back</h1>
      </div>
      <div class="input-container">
        <p class="label"><label for="email">Email:</label></p>
        <p><%= text_field_tag :email, nil, :autofocus => true, :autocomplete => 'off' %></p>
      </div>
      <div class="input-container">
        <p class="label"><label for="password">Password:</label></p>
        <p><%= password_field_tag :password, nil, :autocomplete => 'off' %></p>
      </div>
      <div id="submit_button"><%= submit_tag 'Log In', :class => 'btn-med-blue btn-large' %></div>
    <% end %>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 offset3 api-footer-alert">
    <h5>Notice:</h5><p>At the moment you can't login to Twitter from the widget. You have to be logged in prior to opening the widget.</p>
  </div>
</div>
