<div id="header">
  <div id="logo"><a href="/">POP</a></div>
  <div id="findNav">
    <ul>
      <li id="userParent"><%= link_to 'Issues', "#" %>
        <ul id="userChildren">
          <% Issue.all.each do |issue| %>
          <li><%= link_to issue.name, issue_path(issue) %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to 'Problems', problems_path %></li>
    </ul>
  </div><!-- end find -->
  <div id="usernav">
    <ul>
      <li id="userParent"><%= link_to current_user.profile.name, current_user.profile %>
        <ul id="userChildren">
          <li><%= link_to 'Settings', settings_path %></li>
          <li><%= link_to 'Log Out', logout_path %></li>
        </ul>
      </li>
    </ul>
  </div><!-- end usernav -->
</div><!-- end innerheader -->