<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "oursolution.is", root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav" id="content_nav">
          <% unless Politician.with_problems.empty? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="issue_list">By Politician
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="issue_list">
              <% Politician.with_problems.each do |pol| %>
                <li><%= link_to "#{pol.short_title}. #{pol.name}", politician_path(pol) %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <li id="user_profile"><%= image_tag(current_user.profile.image, :alt => "#{current_user.name}'s Image") if current_user.profile.image.present? %><%= link_to current_user.name, current_user.profile %>
            <span class="notifications"><%= current_user.unread_notifications.count if current_user.has_unread_notifications? %></span>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user_settings">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="user_settings">
              <li><%= link_to 'Edit Profile', settings_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Log Out', logout_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>