<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "oursolution.is", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="user_profile"><%= image_tag(current_user.profile.image, :alt => "#{current_user.name}'s Image") if current_user.profile.image.present? %><%= link_to current_user.name, current_user.profile %>
          <span class="notifications"><%= current_user.unread_notifications.count if current_user.has_unread_notifications? %></span>
        </li>
        <li class="divider"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user_settings">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user_settings">
            <li><%= link_to 'Edit Profile', settings_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Log Out', logout_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>