<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "oursolution.is", "#", :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li id="user_profile"><%= image_tag(current_user.profile.image, :alt => "#{current_user.name}'s Image") if current_user.profile.image.present? %><%= link_to current_user.name, current_user.profile %>
            <span class="notifications"><%= current_user.unread_notifications.count if current_user.has_unread_notifications? %></span>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user_settings">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="user_settings">
              <li><%= link_to 'Log Out', api_v1_logout_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>