<!DOCTYPE html>
<html>
<head>
  <title>oursolution.is</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ops6fux.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35633220-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>

<% if logged_in? and completing_profile? %>
  <%= render 'layouts/completing_profile' %>
<% elsif logged_in? %>
  <%= render 'layouts/header_in' %>
<% else %>
  <%= render 'layouts/header_out' %>
<% end %>

<% if homepage? || completing_profile? %>
<div>
  <%= render "shared/errors" %>
  <%= yield %>
<% else %>
<div class="container">
  <%= render "shared/errors" %>
  <%= yield %>
</div>
<% end %>

<%= render 'layouts/footer' %>

</body>

</html>