<!DOCTYPE html>
<html>
<head>
  <title>name me</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>

<% if logged_in? and completing_profile? %>
  <%= render 'layouts/completing_profile' %>
<% elsif logged_in? %>
  <%= render 'layouts/header_in' %>
<% else %>
  <%= render 'layouts/header_out' %>
<% end %>

<% if homepage? || completing_profile? %>
<div>
  <%= yield %>
<% else %>
<div class="container">
  <%= render "shared/errors" %>
  <%= yield %>
</div>
<% end %>

<%= render 'layouts/footer' %>

</body>

</html>